<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsome.shop.point.repository.mysql.mapper.account.PointAccountMapper">

    <select id="selectPageAccounts" resultType="com.awsome.shop.point.repository.mysql.po.account.PointAccountPO">
        SELECT id, user_id, balance, total_earned, total_used, created_at, updated_at, version
        FROM point_account
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
        ORDER BY updated_at DESC
    </select>

</mapper>
